*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0,0,33);
    color: white;
    font-family: "Poppins", serif;;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18,18,62);
} 
nav .left {
    padding: 15px;
}
nav ul {
    display: flex;
    justify-content: center;
    
}
nav ul li {
    list-style: none;
    margin: 0 23px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color: rgb(151, 151, 246);
    font-size: 1.03rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.firstSection > div{
    width: 30%;
}

.left-section, .title {
    font-size: 2.5rem;
    margin: 0;
}

.purple {
    color: rgb(170, 107, 240);
}

#element {
    color: rgb(170, 107, 240);
}

.rigth-section {
    margin: 50px 0 ;
}

.rigth-section  img{
    width:90%;
}

main .first-line {
    border: 0;
    height: 1px;
    margin: 80px 100px 80px;
    background: #7b7bbc;
}

main hr {
    border: 0;
    height: 1px;
    margin: 50px 80px 50px;
    background: #7b7bbc;
}

section div {
    color: rgb(215, 215, 247);
    font-size: 1.3rem;
    margin-left: 170px;
}

section h1{ 
    margin-left: 100px;
    font-size: 1.8rem;
}

.projects h3 {
    margin: 10px 0 10px 110px;
}
















footer {
    background-color: rgb(18,18,62);
    padding: 35px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-container > div {
    width: 300px;
}

.footer-container .contact p {
    padding-left: 20px;
    width: 400px;
}

.social-media a,i {
    text-decoration: none;
    color: white;

}

.social-media li {
    opacity: 0.6;
}
.social-media li:hover {
    opacity: 1;
}

.footer-container .social-media i {
    font-size: 25px;
    margin: 5px 10px 0 0;
}

.footer-container .contact i{
    font-size: 25px;
    margin: 5px 8px 0 0;
}
.contact p {
    opacity: 0.7;
}

.rights {
    text-align: center;
    margin: 30px 0 0;
}

.rights p {
    opacity: 0.5;
}


@media (max-width : 700px) {
    .firstSection {
        flex-direction: column;
    }
    .firstSection div {
        width: 420px;
    }
    .footer-container {
        flex-direction: column;
        justify-content: start;
    }
    .footer-container div {
        margin: 15px 0;
    }
}